
/**_______________ 1200px__________________*/


   @media (max-width:1200px){

   }

   @media (min-width:1200px){
      #about .about__heading{
           display: inline-block;
               margin-top: 100px;
           }



     }


     /**_______________ 1200px ends __________________*/

     /**_______________ 768px  __________________*/
     
   @media (min-width:768px){
      #courses .courses__details {
         display: grid;
         grid-template-columns:  repeat(3, 1fr);
    }


    #testimonial__section  .about__heading{
  margin-bottom: 25px;
    }
  

           

     }
     /**_______________ 768px ends  __________________*/


     /**_______________ 1001px  __________________*/

@media (min-width:1001px){
    header {
        font-size: 16px;
   }

   .header__1  {
    display: block;
  }




  }

     /**_______________ 1001px ends   __________________*/
 
     /**_______________ 0 - 992px  __________________*/
    @media (max-width:992px){
      .courses__card{
        margin-bottom: 100px;
        padding-bottom: 50px;
      }
      #events__section  .about__heading {
         margin:  0  0 ;
           padding: 0;
            text-transform: capitalize;
         }

         .coures_card_slider{
            display: none;
          }

           .coures_slider_btn{
               display: none;
           }

      

    }
     /**_______________ 0-992px ends   __________________*/


    @media (min-width:992px){
.about__card{

     grid-template-columns: repeat(4 , 1fr);

   }

   #courses .coures__card__small{
      display: none;
     }


    }

/* *_______________ -___________________ */


 @media (max-width:991px){

 }



     /**_______________ 0 - 1000px   __________________*/
@media (max-width:1000px){
    .header__1  {
        display: none;
   }
  }

       /**_______________ 0-1000 ends  __________________*/

               /**____________ 0-1200px starts__________   */


               @media (max-width:1200px){
            
          

        .about__heading{
          text-align: center;
        margin: 50px  0;
        padding: 0;
            }


         
            
              }

                   /**_______________ 0-1200 ends   __________________*/


   /*!______________ 0 to 575px  starts ______________   */

@media (max-width:575px){
     

     #banner__section h4{
       font-size: 30px;
     }
     #banner__section h1{
      font-size: 35px;
      font-weight: bold;
     }
     #banner__section p{
      font-size: 12px;
     }

#banner__section .container{
height: 100%;
position: relative;

}
    #banner__section  .row{       
position: absolute;
top: 50%;
transform: translateY(-40%);
    }

    .btn{
         font-size: 16px;
    }
/* ------------ */

    #about{
          position: relative;
         text-transform: capitalize;
         padding: 10px;
     }

.about__details{
   margin: 50px 0;
    transform: translateY(0);
}
     
     /* about card starts  */

.heading{
   font-size: 20px;
}
.about__heading p{
   font-size: 12px;
}
      .about__heading{
         
   text-align: center;
 padding:  0;
     }

     
     .about__2__para{
         margin: 35px 0;
     }

     .about__img img{
      margin: 20px 0;
 }


     
                   /*  ? testimoial section starts  */

                   #testimonial__section{
                     padding: 30px 0;
                  }
                  
                    #testimonial__section  .about__heading{
                  margin-top: 0;
                      padding:    0;
                       text-transform: capitalize;
                    }
/*                   
                    #testimonial__section .testimonial{
                  
                       background-color: #f5f5f5;
                      margin-bottom: 50px;
                    } */

                    #testimonial__section .testimonial__img{
                     text-align: center;

                    }

                    .testimonial__details p{
                       font-size: 13px;
                    }
                  
                  
                     .testimonial__details h5{
                        font-size: 20px;
                         text-transform: capitalize;
                     }

                     .testimonial__details{
                        margin-top: 0;
                     }
                  
                  /*  ? testimonial section ends  */  


    





/*  * footer section starts  */



#footer{
    padding: 60px  30px;
}


#footer .footer__links{
  padding: 0;
  margin-bottom: 20px;
}



 #footer h6{
   font-size: 20px;

margin: 30px 0 20px;
 }


.footer__list li {
    font-size: 16px;
     margin-bottom: 20px;
}

#footer  .footer__contact__icon  ul li {
   width: 30px;
   height: 30px;

   line-height: 30px;

 }

 #footer  .footer__contact__icon  ul li:hover{
  background-color: var(--secondary-color);
  color: var(--third-color);
 }


 .footer__contact__details p{
  font-size: 14px;

}

 .footer__contact__details ul li{
   margin-bottom: 0;
 }


/*  * footer section ends  */


#courses{
    padding: 0 30px;
}
.courses__card{
    padding: 30px;
}

 
}

/*!_________________ 0-575px ends _____________  */


               /*!_________________  0 - 767px starts___________   */
 

               @media ( max-width:767px){
                  .navbar-brand img{
                       width: 80px;
                  }
                  .navbar{
                      padding: 15px 0;
                    }
                  
                    .navbar .btn{
                       margin: 15px 0;
                       font-size: 17px;
                    }


                    .community__card{
                     text-align: center;
                     margin-bottom: 50px;
                   }


/* !courses section starts  */


.courses__card{
   margin-bottom: 100px;
   padding-bottom: 30px;

 }
 
 .courses__card img{
    width: 80px;
 }
 
   #courses .about__heading {
     padding: 0;
      text-transform: capitalize;
      margin: 30px 0;
 
   }

   
   .courses__card  button{
       display: none;
   }
 #courses .courses__details  div{
    margin-bottom: 15px;
 }
 

  
    #courses  h1{
        margin:  0 0 10px 0;
    }

 
    #courses hr{
       margin: 10px 0;
    }
 

    #courses .courses__details p{
       font-size: 16px;
       margin-bottom: 0;
    }
 
    #courses .courses__details .coures__para{

       margin-bottom: 5px;
    }
    #courses .courses__details div{
       padding: 0;
    }
 
 /*  !courses section ends  */



 #events__section{
    padding: 0 20px ;
 }

 .job__placement{
      margin-bottom: 40px;
 }

 


                  
               

                   #testimonial__section{
                     padding: 30px 0;
                  }
                  #testimonial__section  .about__heading{
                      margin-top: 20px ;
                      padding-bottom: 15px;
                  }


                  /*  teachers section starts  */

     #teachers__section .about__heading{
      margin-top: 90px;
      padding: 0;
    }
  
    #teachers__section .teachers__profile{
       margin-bottom: 50px;
    }
   #teachers__section .profile__details{
      text-align: center;
      padding-top: 20px;    
   }

   #teachers__section .profile__details H6{
        font-size: 20px;
         font-weight: bold;
   }

     
   #teachers__section .profile__details P{
         font-size: 14px;
         margin: 0;
   }
/*  teachers section ends  */





#footer .footer__contact ul{
   padding: 0;
}
 #footer .footer__contact{
    display: flex; 
    justify-content: space-between;
 }

                  
                     }


                     /*!____________   0-767px ends ______________  */





                     /* * ___________ ________________________*/

                     @media (min-width:575px) and(max-width:767px){
                        #blog__section .about__heading{
                           margin-bottom: 1450px;
                        }

                    
                        
                     }

/* *_____________________________ ______________________________________ */


                           /* *______________576 - 992px starts  */
                     @media (min-width:576px ) and (max-width:992px){
                       
/* *about section starts  */


/* about card starts  */





 .about__heading{
text-align: center;
padding: 0
}

#about p{
   font-size: 14px ;
}

.about__2__para{
  display: none;
}

.about__details{

margin-top: 50%;
transform: translateY(-60%);
}

.about__btn{}

.about__btn .btn{
  width: 110px;
   font-size: 17px;
   padding: 10px;
   margin-top: 0;
}

.about__btn .btn__2{
   background-color: #2d3e50;
   margin-left: 10px;
}



/*  * about section ends  */



                     }

/* *__________________  576-992px ends ______________________ */

                     /*  992 -  1200 */


                     @media  (min-width:992px ) and (max-width:1200px){
            
                     }
                  /*  */




                  /* *________________ 768 - 1199px stars  */


                  @media (min-width:768px ) and (max-width:1199px){
               
                              
                 .courses__card{
                  padding-bottom: 60px;
                }
                    

                #courses  .profile__details h6{
                  display: none;
                 }
             
                 #courses  .profile__details h5{
                    font-size: 16px;
                     font-weight: bold;
                 }
             
                 #courses  .profile__details{
                    margin-top: 10px;
                 }
             
                 #courses .courses__details p{
                  font-size: 14px;
                  margin-bottom: 15px;
               }
                  
                     
                  }
                  
                  /* *____________________ 768-1199px ends  */




                  /* *___________________ 768 - 991px stars  */


                    @media (min-width:768px )  and (max-width:991px){
                     
                     .job__placement__time ul li{
                        display: inline-block;
                        margin: 0;
                        padding: 0;
                    }
                    .job__placement__time {
                      display: block;
                        text-transform: uppercase;
                        font-size: 14px;
                        font-weight: bold;
                        margin: 15px 0;
                    }
                
        
                
                    .job__placement__btn button{
                       margin-right: 10px;
                       margin-bottom: 15px;
                       font-size: 15px;
                       padding: 8px;
                       margin-top: 0;

                    }

                    .footer__row{
                     display: grid;
                     grid-template-columns: repeat(3, 1fr);
                  }


                    }


                  /* *____________________768-990 ends  */

                  
                    /* *________________ 0- 450px __________ starts  */

                  @media(max-width:450px){
                     .courses__card{
                      padding: 10px;
                      }

                      .job__placement__time {
                        font-size: 10px;
                        text-transform: uppercase;
                     }

                     #events__section .events__card{
                        display: block;
                        margin-bottom: 30px;
                     }

                     .events__details h5{
                          margin-top: 20px;
                     }

                     .events__time{
                         margin: 0;
                     }


                     #testimonial__section .testimonial{
                        display: block;
                     }

                          .footer__row{
      
         grid-template-columns: repeat(1, 1fr);
      }
 
      .about__card{
  
           grid-template-columns: repeat(1 , 1fr);
           gap: 30px;
         
          /* margin-left: 150px; */
         }
                     
                  }

  /* *____________________0 - 450 ends____________  */

                  /*  */

                  @media(min-width:450px) and (max-width:767px){
                     .footer__row{
                        display: grid;
                        grid-template-columns: repeat(2, 1fr);
                     }

                  }

              






